<section
  class="d-flex justify-content-center align align-items-center flex-column bg-white m-5"
>
  <h1>CONATCT SECTION</h1>
  <div class="d-flex">
    <div class="m-3 line1"></div>
    <i class="m-2 fa-solid fa-star"></i>
    <div class="line1 m-3"></div>
  </div>
  <div class="container m-5">
    <div class="row">
      <input
        class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"
        placeholder="userName"
        type="text"
        name=""
        id=""
      />
      <input
        class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"
        placeholder="userAge"
        type="text"
        name=""
        id=""
      />
      <input
        class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"
        placeholder="userEmail"
        type="text"
        name=""
        id=""
      />
      <input
        class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"
        placeholder="userPassword"
        type="text"
        name=""
        id=""
      />
      <button class="btn mt-4 text-white">send message</button>
    </div>
  </div>
</section>












<section class="py-5 endhome text-center">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <div>
          <h2>LOCATION</h2>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h2>AROUND THE WEB</h2>
          <div class="d-flex justify-content-center align-items-center">
            <i
              class="d-flex justify-content-center align-items-center fa-brands fa-facebook mx-1 icon border rounded-5 border-white"
            ></i>
            <i
              class="d-flex justify-content-center align-items-center fa-brands fa-linkedin-in mx-1 icon border rounded-5 border-white"
            ></i>
            <i
              class="d-flex justify-content-center align-items-center fa-solid fa-globe mx-1 icon border rounded-5 border-white"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h2>ABOUT FREELANCER</h2>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="copy text-center p-3">
  <p>Copyright © Your Website 2021 </p>
</section>
