<section class="portflio">
  <div
    class="text-center py-5 d-flex justify-content-center align-items-center flex-column"
  >
    <h1>PORTFOLIO COMPONENT</h1>
    <div class="d-flex">
      <div class="m-3 line1"></div>
      <i class="m-2 fa-solid fa-star"></i>
      <div class="line1 m-3"></div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-lg-3">
      <div class="card border-0 p-4">
        <div class="contint-card rounded-4  position-relative overflow-hidden  ">
          <img class="img-fluid" src="../../assets/pic/poert1.png" alt="" />
          <div class="overlay position-absolute d-flex justify-content-center align-items-center "><i class="fa-solid fa-plus fa-10x text-white"></i></div>
        </div>
      </div>
      <div class="card border-0 p-4">
        <div class="contint-card rounded-4  position-relative overflow-hidden">
          <img class="img-fluid" src="../../assets/pic/port2.png" alt="" />
          <div class="overlay position-absolute d-flex d-flex justify-content-center align-items-center  "><i class="fa-solid fa-plus fa-10x text-white"></i></div>
        </div>
      </div>
      <div class="card border-0 p-4">
        <div class="contint-card rounded-4  position-relative overflow-hidden">
          <img class="img-fluid" src="../../assets/pic/port3.png" alt="" />
          <div class="overlay position-absolute d-flex  d-flex justify-content-center align-items-center  "><i class="fa-solid fa-plus fa-10x text-white"></i></div>
        </div>
      </div>
      <div class="card border-0 p-4">
        <div class="contint-card rounded-4  position-relative overflow-hidden">
          <img class="img-fluid" src="../../assets/pic/poert1.png" alt="" />
          <div class="overlay position-absolute d-flex  d-flex justify-content-center align-items-center  "><i class="fa-solid fa-plus fa-10x text-white"></i></div>
        </div>
      </div>
      <div class="card border-0 p-4">
        <div class="contint-card rounded-4  position-relative overflow-hidden">
          <img class="img-fluid" src="../../assets/pic/port2.png" alt="" />
          <div class="overlay position-absolute d-flex  d-flex justify-content-center align-items-center  "><i class="fa-solid fa-plus fa-10x text-white"></i></div>
        </div>
      </div>
      <div class="card border-0 p-4">
        <div class="contint-card rounded-4  position-relative overflow-hidden">
          <img class="img-fluid" src="../../assets/pic/port3.png" alt="" />
          <div class="overlay position-absolute d-flex  d-flex justify-content-center align-items-center  "><i class="fa-solid fa-plus fa-10x text-white"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
